<%- include('./partials/head.ejs'); -%>
<%- include('./partials/navbar.ejs'); -%>

<div class="container" style="margin-top:20px; margin-bottom:20px;">
  <div class="row">


    <% productos.forEach(producto => { %>
      <div class="col-md-3">
        <div class="card text-center">
          <img
            src="<%=producto.thumbnail%>"
            class="card-img-top"
            style="height: 300px;"
            alt="<%=producto.title%>">
          <div class="card-body">
            <h5 class="card-title"><%=producto.title%></h5>
            <div class="btn btn-primary">$ <%=producto.price%></div>
          </div>
        </div>
      </div>
    <% }); %>



  </div>
</div>

<%- include('./partials/footer.ejs'); -%>
