<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">
                Informacion del Servidor
                <br/><br/><br/>
            </h1>
        </div>
        <div class="col-12">
            <table class="table table-info table-striped">
                <tbody>
                    <tr>
                        <th scope="row">Argumentos</th>
                        <td>
                            {{args}}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Plataforma</th>
                        <td>{{platform}}</td>
                    </tr>
                    <tr>
                        <th scope="row">PID</th>
                        <td>{{process_id}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Carpeta</th>
                        <td>{{folder}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Version de Node</th>
                        <td>{{node_version}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Memoria</th>
                        <td>{{memory}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Procesadores</th>
                        <td>{{cores}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>